@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
/* font-family: 'Acme', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* font-family: 'Anton', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: 'Bebas Neue', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
/* font-family: 'Fjalla One', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
/* font-family: 'Square Peg', cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s;
}

body {
    background-color: rgb(255, 196, 0);
}

/* 
===============
--Nav Toggler--
=============== 
*/

#nav-check:checked ~ nav {
    left: 0px;
    opacity: 1;
}

label #nav-on-btn {
    position: fixed;
    height: 60px;
    color: white;
    left: 0px;
    background-color: #fff;
    padding: 15px;
    transition: all 0.4s;
    opacity: 1;
    color: orange;
    box-shadow: 0px 0px 10px #fff;
    text-shadow: 0pc 0pc 30px #fff;
    cursor: pointer;
    font-size: 25px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: 0px 10px 10px 0px;
    border-top: 3px solid white ;
}
label #nav-on-btn:hover {
    text-shadow: none;
    box-shadow: none;
}
#nav-check:checked ~ label #nav-on-btn {
    left: 220px;
    opacity: 0;
    height: 100vh;
}

label #nav-off-btn {
    position: fixed;
    text-shadow: 0px 0px 10px #fff;
    color: rgb(255, 255, 255);
    background-color: #333;
    z-index: 11;
    padding: 15px;
    left: -55px;
    cursor: pointer;
    font-size: 25px;
}
label #nav-off-btn:hover {
    text-shadow: none;
    box-shadow: none;
}
#nav-check:checked ~ label #nav-off-btn {
    left: 198px;
}


/* 
===============
--Nav Started--
=============== 
*/

nav {
    z-index: 10;
    height: 100vh;
    width: 250px;
    background-color: #333;
    box-shadow: 0px 0px 30px #999;
    border-right: 10px dashed rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: -250px;
    opacity: 0;
}

.nav-logo {
    width: 100%;
}
.nav-logo img {
    width: 160px;
    border-bottom: 5px dashed #fff ;
}
.nav-logo img:hover {
    width: 170px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 250px;
    align-items: center;
}
.nav-links a {
    text-decoration: none;
    font-family: 'Acme', sans-serif;
    margin: 10px 0;
    width: 200px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 23px;
    color: #fff;
}
.nav-links a:hover {
    background-color: orangered;
    border: 5px solid #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #fff;
}

.nav-footer p {
    font-family: 'Square Peg', cursive;
    color: rgba(255, 255, 255, 0.295);
    font-size: 20px;
}

/* 
================
--SEC1 Started--
================
*/

.sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sec1-logo {
    text-align: center;
}
.sec1-logo img {
    object-fit: cover;
    width: 410px;
    height: 500px;
    border-right: 7px solid #fff;
    border-left: 7px solid #fff;
    border-top: 7px solid #fff;
    box-shadow: 0px 0px 50px rgb(255, 255, 255);
}

.container .sec1-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec1-info h2 {
    font-family: 'Bebas Neue', cursive;
    text-shadow: 0px 0px 2px #333;
    letter-spacing: 2px;
    font-size: 40px;
}
.sec1-info h2 span {
    font-size: 25px;
    letter-spacing: 5px;
    text-shadow: none;
}

.sec1-info p {
    font-family: 'Josefin Sans', sans-serif;
}

.sec1-info-links a { 
    box-shadow: 0px 0px 20px #333;
    transition: all .1s;
    position: relative;
}
.sec1-info-links a:hover {
    padding: 10px;
    font-size: 15px;
}

/* 
================
--SEC2 Started--
================
*/

.sec2 .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .sec2-heading {
    width: 65%;
    padding-top: 80px;
}
.sec2-heading h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    text-shadow: 0px 0px 3px #333;
}
.sec2-heading p {
    font-family: 'Acme', sans-serif;
    font-size: 17px;
}

.row .skill-1 {
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 0px 0px 2px #333;
    margin: 30px 0;
}

.skill-1 .progress {
    height: 30px;
    box-shadow: 0px 0px 10px #000;
}
.skill-1 .progress-bar {
    width: 100%;
    background-color: #333;
}

.row .skill-2 {
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 0px 0px 2px #333;
    margin: 30px 0;
}
.skill-2 .progress {
    height: 30px;
    box-shadow: 0px 0px 10px #000;
}
.skill-2 .progress-bar {
    width: 100%;
    background-color: #333;
}

.row .skill-3 {
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 0px 0px 2px #333;
    margin: 30px 0;
}
.skill-3 .progress {
    height: 30px;
    box-shadow: 0px 0px 10px #000;
}
.skill-3 .progress-bar {
    width: 100%;
    background-color: #333;
}

.row .skill-4 {
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 0px 0px 2px #333;
    margin: 30px 0;
}
.skill-4 .progress {
    height: 30px;
    box-shadow: 0px 0px 10px #000;
}
.skill-4 .progress-bar {
    width: 51%;
    background-color: #333;
}

.row .skill-5 {
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 0px 0px 2px #333;
    margin: 30px 0;
}
.skill-5 .progress {
    height: 30px;
    box-shadow: 0px 0px 10px #000;
}
.skill-5 .progress-bar {
    width: 51%;
    background-color: #333;
}

.row .skill-6 {
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 0px 0px 2px #333;
    margin: 30px 0;
}
.skill-6 .progress {
    height: 30px;
    box-shadow: 0px 0px 10px #000;
}
.skill-6 .progress-bar {
    width: 51%;
    background-color: #333;
}
/* 
================
--SEC3 Started--
================
*/

.sec3 {
    height: 100vh;
}
.sec3 .container {
    text-align: center;
}

.sec3-headings {
    padding-top: 100px;
}
.sec3-headings h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    text-shadow: 0px 0px 3px #333;
}
.sec3-headings p {
    font-family: 'Acme', sans-serif;
    font-size: 17px;
}

.projects {
    margin-top: 100px;
}
.proj1 a img {
    width: 100%;
    border: 3px dashed white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #333;
}
.proj1 a img:hover {
    width: 90%;
    box-shadow: 0px 0px 30px #fff;
}

 .proj2 a img {
    width: 100%;
    border: 3px dashed white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #333;
}
.proj2 a img:hover {
    width: 90%;
    box-shadow: 0px 0px 30px #fff;
}

/* 
================
--SEC4 Started--
================
*/

.sec4 {
    height: 300px;
}

.container .sec4-heading {
    padding-top: 100px;
}
.sec4-heading h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    text-shadow: 0px 0px 3px #333;
}
.sec4-heading p {
    font-family: 'Acme', sans-serif;
    font-size: 17px;
}
.form-floating, .sbmit-btn, .form-label {
    font-family: 'Acme', sans-serif;
}

.sec4-links a {
    width:  100px;
}
